* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    margin: 0;
    height: 100vh;

    background: linear-gradient(to right, #4facfe, #00f2fe);

    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 380px;
    background: linear-gradient(to bottom right, #ffffff, #e6f2ff);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}
.container:hover {
    transform: translateY(-5px);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;   
    border: 1px solid #ccc;
    outline: none;
}

input:focus, select:focus {
    border-color: #4facfe;
    box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}
button {
    margin-top: 25px;
    padding: 12px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 3px;
}
